<html>
  <body>
      <head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'primerapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/pricing/">
     
    <!-- Styles -->
    <link href="{% static 'primerapp/css/gestion.css' %}" rel="stylesheet">
    <link href="{% static 'primerapp/css/pricing.css' %}" rel="stylesheet">
    <link href="{% static 'primerapp/css/styles.css' %}" rel="stylesheet">

<header>
    <div class="content-all">
      <div class="content-carrousel">
          <figure><img src="{% static 'primerapp/img/imagen1.jpeg' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen2.jpeg' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen3.jpeg' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen4.webp' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen5.webp' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen6.jpeg' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen7.jpeg' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen8.avif' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen9.jpeg' %}" ></figure>
          <figure><img src="{% static 'primerapp/img/imagen10.jpeg' %}" ></figure>
    
        </div>
      </div>
    </header>
    </head>

<main>

    <!--<h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">Servicios</span>
      </h1>-->

 <!-- Navbar -->
 <!--<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="home.html">Inicio</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="servicios.html">contacto</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="tienda.html">nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->


   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'primerapp/img/portada.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Puntualidad</span>
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.</p>
        </div>
      </div>
    </div>
     </section>
    <!-- Message -->

    <section class="plans-container--slider">
      <article class="plans-container--card">
          <p class="recomendado">Recomendado</p>
          <div class="plan-info-container">
              <h3 class="pland-card--title">Pago Anual</h3>
              <p class="pland-card--price"><span>$</span>99</p>
              <p class="pland-card--saving">*Ahorras $129 comparndo al plan mensual</p>
              <button class="pland-card--ca">Escoger este <span></span> </button>

          </div>

      </article>
      <article class="plans-container--card">
          <p class="basico">Basico</p>
          <div class="plan-info-container">
              <h3 class="pland-card--title">Pago Mensual</h3>
              <p class="pland-card--price"><span>$</span>23</p>
              <p class="pland-card--saving">*Ahorras $129 comparndo al plan mensual</p>
              <button class="pland-card--ca">Escoger este <span></span> </button>

          </div>
      </article>

    </article>
    <article class="plans-container--card">
        <p class="basico">pro max</p>
        <div class="plan-info-container">
            <h3 class="pland-card--title">Pago Mensual</h3>
            <p class="pland-card--price"><span>$</span>299</p>
            <p class="pland-card--saving">*Ahorras $129 comparndo al plan mensual</p>
            <button class="pland-card--ca">Escoger este <span></span> </button>

        </div>
    </article>

    </section>

  </main>

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	      </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
	    	</p>
        
      </div>
	  </footer>

    <!-- Bootstrap -->
    <script src="{% static 'primerapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'primerapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>